---
import ytButton from '../../assets/ytButton.svg';
import spotifyButton from '../../assets/spotifyButton.svg';
import appleButton from '../../assets/appleButton.svg';
import naZywo from '../../assets/naZywo.svg';
import Footer from '../../components/en_components/Footer.astro';
---
<!-- TODO - zaczyna sie zoomed in na phone!!, nie ma footera, moze lepszy embed z wieksza iloscia filmikow, zamien filmik, dodaj linki do przyciskow -->
<div class="posluchaj-container">
    <div class="posluchaj-socials-container">
        <div class="posluchaj-socials-header">
            <p>
                Listen to us:
            </p>
        </div>
        <div class="posluchaj-socials">
            <div class="posluchaj-socials-buttons">
                <a href="https://www.youtube.com/@owczarekobodaduo3746">
                    <img class="ytButton" src={ytButton.src} alt="" />
                </a>
            </div>
            <div class="posluchaj-socials-buttons">
                <a href="https://open.spotify.com/artist/60000000000000000000000000000000">
                    <img class="spotifyButton" src={spotifyButton.src} alt="" />
                </a>
            </div>
            <div class="posluchaj-socials-buttons">
                <a href="https://music.apple.com/pl/artist/fantastica-ensemble/1660000000000000">
                    <img class="appleButton" src={appleButton.src} alt="" />
                </a>
            </div>
        </div>
    </div>
    <div class="zobacz-na-zywo-container">
        <div class="zobacz-na-zywo">
            <p>
                Watch us live:
            </p>
        </div>
        <div class="zobacz-na-zywo-embed">
			<img class="naZywo" src={naZywo.src} alt="" />
            <iframe
                src="https://www.youtube.com/embed/ZnTkeduqcbU">
            </iframe>
        </div>
    </div>
</div>
<Footer/>

<style>

    .posluchaj-container {
        display: grid;
        grid-template-rows: auto auto auto;
        background: linear-gradient(180deg, #80C3FE 0%, #EBC0D8 100%);
    }

    .posluchaj-socials-container {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 24vh 1fr;
        
        font-family: Elsie;
        font-size: 82px;
        font-style: normal;
        font-weight: 900;
    }

    .posluchaj-socials-header {
        grid-column: 2/3;
        grid-row-start: 2;
        text-align: center;
        height: 12vh;
    }
    .posluchaj-socials-header p {
        margin: 0 0;
    }

    .posluchaj-socials {
        grid-column: 2/3;
        grid-row-start: 2;
        display: flex;
        margin-top: 10vh;

    }
    .posluchaj-socials-buttons {
        width: 33%;
        height: auto;
        object-fit: contain;
    }
    .ytButton {
        margin-top: 4vh;
    }
    .spotifyButton {
        margin-top: 29vh;
    }

    /* Zobacz na zywo */

    .zobacz-na-zywo-container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 18vh 1fr;
        height: 97vw;

        font-family: Elsie;
        font-size: 62px;
        font-style: normal;
        font-weight: 900;
    }
    .zobacz-na-zywo {
        grid-column: 2/3;
        grid-row-start: 2;
        text-align: center;
        height: 12vh;
    }
    .zobacz-na-zywo-embed {
        grid-column: 2/3;
        grid-row-start: 2;
        text-align: center;
        height: 12vh;
        margin-top: 25vh;
        position: relative;
    }
    .naZywo {
        position: relative;
        width: 68vw;
    }
    .zobacz-na-zywo-embed iframe {
        position: absolute;
        top: 3.5vw;
        left: 5vw;
        /* justify-self: anchor-center; */
        aspect-ratio: 65/39;
        width: 58vw;
        z-index: 1;
    }
    .ytButton, .spotifyButton, .appleButton {
        width: 100%;
    }
    @media screen and (max-width: 800px) {
        .naZywo {
            width: 88vw;
        }
        .zobacz-na-zywo-embed iframe {
            top: 2.5vw;
            width: 80vw;
            left: 8.4vw;
        }
    }
    @media screen and (max-width: 600px) {
        .posluchaj-container{
            width: 100%;
            padding-bottom: 80vw;
        }
        .posluchaj-socials {
            font-size: 18vw;
            margin-top: 60vw;
        }
        .zobacz-na-zywo-embed {
            margin-top: 36vh;
        }
        .posluchaj-socials {
            margin-top: 30vw;
            height: min-content;
        }
        .posluchaj-socials-container {
            font-size: 50px;
            grid-template-rows: 24vh 0fr;
        }
        .posluchaj-socials-buttons {
            height: 30%;
        }
        .spotifyButton {
            margin-top: 18vh;
        }
        .zobacz-na-zywo-container {
            grid-template-rows: 23vw 144vw;
        }
        
    }
</style>