---
import EventCard from "../../components/en_components/EventCard_trasa.astro";

const events = [
  {
    slug: "sacrum-profanum-gliwice",
    data: {
      dataWydarzenia: {
        dzien: "19",
        mR: "apr 2026",
      },
      repertuar: "Biber",
      nazwaWydarzenia: "Sacrum/Profanum Tour",
      miejsceWydarzenia: "Gliwice, PL",
      czasWydarzenia: "6:00 PM",
    },
  },
  {
    slug: "sacrum-profanum-katowice",
    data: {
      dataWydarzenia: {
        dzien: "23",
        mR: "apr 2026",
      },
      repertuar: "Biber",
      nazwaWydarzenia: "Sacrum/Profanum Tour",
      miejsceWydarzenia: "Katowice, PL",
      czasWydarzenia: "6:00 PM",
    },
  },
  {
    slug: "sacrum-profanum-lomza",
    data: {
      dataWydarzenia: {
        dzien: "29",
        mR: "may 2026",
      },
      repertuar: "Biber",
      nazwaWydarzenia: "Sacrum/Profanum Tour",
      miejsceWydarzenia: "Łomża, PL",
      czasWydarzenia: "7:00 PM",
    },
  },
  {
    slug: "sacrum-profanum-lublin",
    data: {
      dataWydarzenia: {
        dzien: "31",
        mR: "may 2026",
      },
      repertuar: "Biber",
      nazwaWydarzenia: "Sacrum/Profanum Tour",
      miejsceWydarzenia: "Lublin, PL",
      czasWydarzenia: "5:00 PM",
    },
  },
];
---

<div class="wydarzenia-cmpnt">
  {events.map((event) => <EventCard event={event} />)}
</div>

<style>
  .wydarzenia-cmpnt {
    display: flex;
    flex-direction: column;
    gap: 2% 2%;
    width: 100%;
    margin-top: 8px;
  }
</style>
