---
import Wydarzenie from '../../components/en_components/Wydarzenie.astro'
---

<div class="wydarzenia-cmpnt">
    <Wydarzenie title="Wydarzenie 1" />
</div>

<style>
    .wydarzenia-cmpnt {
        display: flex;
        flex-direction: column;
        gap: 2% 2%;
        width: 100%;
        margin-top: 8px;
    }
</style>