<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.png" type="image/png">	
		<link rel="mask-icon" href="/images/safari-pinned-tab.svg?v=M44lzPylqQ" color="#000000">
        <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
		<title>Admin</title>
	</head>
	<body>
        <script src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>
	</body>
</html>
