---
import { getCollection } from "astro:content";
import EventCard from "../components/EventCard.astro";

// Definiujemy prop "type"
interface Props {
  type: "past" | "upcoming";
}
const { type = "upcoming" } = Astro.props;

const allEvents = await getCollection("wydarzenia");

// Helper function to convert your date format to a Date object
function convertToDate(dateObj: any) {
  const mR = dateObj.mR.replace("<br>", " ").trim();
  const [month, year] = mR.split(" ");
  const monthNames = [
    "sty",
    "lut",
    "mar",
    "kwi",
    "maj",
    "cze",
    "lip",
    "sie",
    "wrz",
    "paź",
    "lis",
    "gru",
  ];
  const monthIndex = monthNames.indexOf(month.toLowerCase());
  return new Date(year, monthIndex, parseInt(dateObj.dzien));
}

// Obecna data do porównań (zerujemy godziny, żeby porównywać same dni)
const now = new Date();
now.setHours(0, 0, 0, 0);

// Filtrowanie i sortowanie wydarzeń
const filteredEvents = allEvents
  .filter((event) => {
    const eventDate = convertToDate(event.data.dataWydarzenia);
    if (type === "past") return eventDate < now;
    return eventDate >= now;
  })
  .sort((a, b) => {
    const dateA = convertToDate(a.data.dataWydarzenia).getTime();
    const dateB = convertToDate(b.data.dataWydarzenia).getTime();

    // Nadchodzące: od najstarszego (najbliższego), Przeszłe: od najnowszego (ostatniego)
    return type === "past" ? dateB - dateA : dateA - dateB;
  });
---

<div class="wydarzenia-cmpnt">
  {
    filteredEvents.length > 0 ? (
      filteredEvents.map((event) => <EventCard event={event} />)
    ) : (
      <p class="brak-wydarzen">Brak wydarzeń do wyświetlenia.</p>
    )
  }
</div>

<style>
  .wydarzenia-cmpnt {
    display: flex;
    flex-direction: column;
    gap: 2% 2%;
    width: 70vw;
    margin-top: 8px;
    justify-self: center;
    height: -webkit-fit-content;
  }
  .brak-wydarzen {
    text-align: center;
    font-family: "Gilda Display";
    color: #555;
    margin-top: 2rem;
  }
  @media screen and (max-width: 1150px) {
    .wydarzenia-cmpnt {
      max-width: 805px;
      width: -webkit-fill-available;
    }
  }
</style>
