---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
const pageTitles = {
  "/": "Fantastica",
  "/o-nas": "Fantastica | O nas",
  "/posluchaj": "Fantastica | Posłuchaj",
  "/projekty": "Fantastica | Projekty",
  "/plyty": "Fantastica | Płyty",
  "/kontakt": "Fantastica | Kontakt",
  // English routes
  "/en": "Fantastica",
  "/en/about": "Fantastica | About",
  "/en/listen": "Fantastica | Listen",
  "/en/projects": "Fantastica | Projects",
  "/en/CD": "Fantastica | CD",
  "/en/contact": "Fantastica | Contact",
};

const currentPath = Astro.url.pathname;
const title = pageTitles[currentPath as keyof typeof pageTitles] || "Fantastica";
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg?v=M44lzPylqQ" color="#000000" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Gilda+Display&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"
    ></script>
    <title>{title}</title>
  </head>
  <body>
    <Header animate:persist />
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100vw;
    height: 80%;
    overflow-x: clip;
  }
</style>
